@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #4f46e5 #0f172a;
  }
  *::-webkit-scrollbar {
    width: 6px;
  }
  *::-webkit-scrollbar-track {
    background: #0f172a;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #4f46e5;
    border-radius: 3px;
  }
}